h3 {
    background-color: red; text-transform:uppercase; font-size: 40px; font-family:Georgia, 'Times New Roman', Times, serif; line-height: 1.5; letter-spacing: -0.7px;
    color: #f0eded; margin: 0px; padding: 0px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    font-family: 'Roboto', sans-serif;;
  }
  table {
    width: 100%
  }